american-chemical-society.csl american-medical-association.csl american-political-science-association.csl american-sociological-association.csl apa.csl austrian-legal.csl azr-austria.csl Beispiele chicago-author-date.csl chicago-fullnote-bibliography.csl chicago-note-bibliography.csl elsevier-harvard.csl ieee.csl modern-humanities-research-association.csl modern-language-association.csl nature.csl README.md vancouver.csl
